/* Always set the map height explicitly to define the size of the div
     element that contains the map. */
#map {
    width: 100%;
    height: 50%;
    position: relative;
    left: 0;
    top: 35%;
}
    /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0px;
}